@tailwind base;
@layer base {
  h1 {
    @apply tw-text-3xl tw-font-semibold;
  }
  h2 {
    @apply tw-text-2xl tw-font-semibold;
  }
  h3 {
    @apply tw-text-xl tw-font-semibold;
  }
  h4 {
    @apply tw-text-lg tw-font-semibold;
  }
  h5 {
    @apply tw-text-base tw-font-semibold;
  }
  h6 {
    @apply tw-text-sm tw-font-semibold;
  }
  input,
  select {
    @apply tw-rounded-sm tw-p-1 tw-h-8 tw-border tw-border-gray-300 tw-text-gray-900 tw-my-3;
  }
}
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
